{% extends 'base.html' %}


{% load staticfiles %}

{% block title %} About Event Locator {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 align="center">WHO WE ARE</h5>
            <p>We are student of IT who are interested in changing the lives of our community through the modern technology</p>
        </div>
        <div class="col-md-6">
            <h5 align="center">WHAT WE DO</h5>
            <p>We build tech base products, and platforms including the Event Locator</p>
        </div>
        <div class="col-md-8">
            <h6>CONTACT US</h6>
            <p>Email: eventlocator@gmail.com</p>
        </div>
    </div>
</div>

{% endblock %}